@media (max-width: 580px){
    #row{
        flex-direction: column;
    }  
    .col5{
        width: 80%;
        margin: 1em auto;
    }  
}

@media (min-width: 581px){
    body, html {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #container {
        border-radius: 1em;
        background-color: #ebebeb;
        box-shadow: 0 0 10px #0004;
    }

    #row{
        margin-bottom: 2em;
        flex-direction: row;
        justify-content: space-between;
    }    
    .col5{
        width: 45%;
    }
}

/* Layout */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: #999999;
    font-weight: 700;
    background-color: #ebebeb;
    font-family: Roboto, Arial, sans-serif;
}

#container {
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#row{
    width: 100%;
    display: flex;
    align-items: center;
}    

#box {
    width: 14em;
    height: 14em;
    border-radius: 20%;
    transition: border-radius 0.5s;
    background: linear-gradient(to top right, #1500ee, #00dde0);
}

/* Outros */

#code {
    color: #ddd;
    padding: 1em 2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 0.6em;
    background-color: #364f6b;
}

#code span {
    color: #79a9df;
}

input {
    width: 100%;
}

a:link, a:visited, a:active {
    color: #fc5185;
}

a:hover {
    color: #ffa8c2;
}
