@media (min-width: 581px){
    #container {
        border-radius: 1em;
        background-color: #ebebeb;
        box-shadow: 0.5em 0.5em 1em #9993, -0.5em -0.5em 1em #fffa;
    }

}

/* Layout */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body, html {
    color: #999;
    height: 100%;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    font-family: Roboto, Arial, sans-serif;
}

#container {
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input{
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    position: absolute;
}

input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background-color: #07264b;
}

a:link, a:visited, a:active {
    color: #fc5185;
}

a:hover {
    color: #ffa8c2;
}

/* Display and Inputs */

#display{
    width: 15em;
    height: 15em;
    display: flex;
    position: relative;
    margin-bottom: 2em;
    align-items: center;
    justify-content: center;
    border: 0.3em dashed #ddd;
}

#box {
    z-index: 0;
    width: 14em;
    height: 14em;
    border-radius: 20%;
    position: absolute;
    background-image: linear-gradient(to top right, #2500ee, #00dde0);
}

#topLeft{
    top: 0;
}
#topRight{
    left: 7em;
    height: 0;
    transform: rotate(90deg);
}
#bottomLeft{
    height: 0;
    left: -7em;
    transform: rotate(90deg);
}
#bottomRight{
    top: 14em;
    transform: rotate(180deg);
}

/* Outros */

#code {
    color: #ddd;
    padding: 1em 2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 0.6em;
    background-color: #364f6b;
}

#code span {
    color: #79a9df;
}

#alert{
    opacity: 0;
    width: 10em;
    height: 2.5em;
    color: #fff;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 0.5em;
    transition: opacity 0.3s;
    justify-content: center;
    background-color: #fc5185;
}
